.intro{
    background: url(../Delani-studio/backgrounds/h_img.jpg) no-repeat;
    align-items: center;
}
.intro-text{
    background: transparent;
    padding-top: 17%;
    padding-bottom: 17%;
	font-weight: bold;
    text-align: center;
    font-size-adjust: auto;
    font-size: 60px;
    color: white;
    text-emphasis:bold;
}
.about{
    background: whitesmoke;
    padding-top: 0%;
   
}
.about-text{
    color: black;
    text-align: center;
    background: transparent;
    font-size-adjust: auto;  
    
}

